body{
    background-color: rgb(221, 161, 81);
}

header{
    height: 150px;
    background-color: #EBC64B;
    border-style: groove;
    border-width: 5px;
    border-color: #F5BE4E;
}
nav{
    background-color: #F5BE4E;
    border-style: groove;
    border-width: 5px;
    border-color: #F5BE4E;
    overflow: auto;
}

a{
    background-color: #F2BA4A;
    padding: 5px;
    float: left;
    border-style: solid;
    border-color: #555555;
    border-width: 2px;
    border-radius: 5px;
    margin: 2px;
}

a:hover{
    background-color: rgb(226, 140, 83);
}

#register{
    float: right;
}

#login{
    float: right;
}

#logout{
    float: right;
}

