body{
    background-color: rgb(221, 161, 81);
}

header{
    height: 150px;
    background-color: #EBC64B;
    border-style: groove;
    border-width: 5px;
    border-color: #F5BE4E;
}
nav{
    background-color: #F5BE4E;
    border-style: groove;
    border-width: 5px;
    border-color: #F5BE4E;
    overflow: auto;
}

a{
    background-color: #F2BA4A;
    padding: 5px;
    float: left;
    border-style: solid;
    border-color: #555555;
    border-width: 2px;
    border-radius: 5px;
    margin: 2px;
}

a:hover{
    background-color: rgb(226, 140, 83);
}

#register{
    float: right;
}

#login{
    float: right;
}

#logout{
    float: right;
}

header div{
    background-color: rgb(220,170,100);
    border-style: solid;
    border-width: 1px;
    width: 150px;
    margin-top: 120px;
    float: right;
}

#recentPosts{
    width: 200px;
    height: 125px;
    background-color: rgb(88, 65, 21);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 10px;
    margin-top: 5%;
    float: left;
    font-style: oblique;
    color: white;
}

#forum {
    float: right;
    background-color: rgb(199, 123, 53);
    width: 80%;
    margin: 10px;
    margin-top: 5%;
    border-color: rgb(73, 73, 73);
    border-style: groove;
    border-radius: 10px;
    border-width: 5px;
    overflow: auto;

}

#forumpage{
    margin-top: 5px;
    background-color: rgba(120, 120, 120, 0.3);
    height: 70%;
}
#posts{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

#addPost{
    float: right;
    width: 75px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}

textarea{
    width: 50%;
    height: 30%;
}
